<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ path('_homepage') }}" class="navbar-brand">
                    <img width="120px" src="{{ asset('bundles/tunisiefeeds/images/logo-tun.png') }}"  alt="tunisieactu" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                   <li id="menuHome"><a href="{{  path('_homepage') }}" style="font-size:19px;" title="Home"><i class="icon-home"></i></a></li>
           
                    <li ><a rel="tag" href="http://www.tunisieactu.net/category/feed/shemsFm/شمس%20أف">شمس أف</a></li>
                    <li ><a rel="tag" href="http://www.tunisieactu.net/category/feed/hakaekonline/حقائق%20أون%20لاين">حقائق أون لاين</a></li>
                    <li ><a rel="tag" href="http://www.tunisieactu.net/category/feed/mosaiquefm/موزاييك">موزاييك</a></li>
                    <li ><a rel="tag" href="http://www.tunisieactu.net/category/feed/alarabiya/العربية">العربية</a></li>
                    <li ><a rel="tag" href="http://www.tunisieactu.net/category/feed/capradio/كاب%20أف%20أم">كاب أف أم</a></li>

                    <li ><a rel="tag" href="http://www.tunisieactu.net/category/jarida/aljarida/الجريدة">الجريدة</a></li>
                    <li ><a rel="tag" href="http://www.tunisieactu.net/category/jarida/alHadath/المصدر">المصدر</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<div id="adsTop" class="nav-collapse">
                    <div id="bsap_1284433" class="bsarocks bsap_617a5997e85f500dd668cb6b9a8bf3a4"></div>				
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- header -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-7963319750770607"
			     data-ad-slot="3018839973"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
                    <div class="clear"></div>
</div>